<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


</head>
<body>
    <header id="header" th:fragment="header">
        <h1 id="title">Sieć hoteli</h1>
    </header>

    <nav class="navbar navbar-dark bg-dark navbar-expand-lg"  th:fragment="nav">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="nav-item active"><a  class="nav-link" href="#">Strona głowna</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html">Oferty</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html">Oferty specjalne</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html">Logowanie</a></li>
            </ul>

        </div>

    </nav>

</body>
</html>