<!-- offers.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/fragments :: head">

</head>
<body>
<div  th:replace="fragments/fragments :: fragmentsGroup"></div>
<div  th:replace="fragments/fragments :: roomDetails"></div>
<div  th:replace="fragments/fragments :: bookingForm"></div>
<div  th:replace="fragments/fragments :: bookingAccept"></div>
<section class="section">
    <header><h3>Filtry</h3></header>
    <form th:action="@{/roomFilter}" method="post">
        <label for="bNumber" >Liczba łóżek:</label>
        <input id="bNumber" name="bNumber" type="number" value="0"/>
        <label for="type" >Typ pokoju:</label>
        <select id="type" name="type">
            <option value="" ></option>
            <option value="Apartament" >Apartament</option>
            <option value="Double">Double</option>
            <option value="Single">Single</option>
            <option value="Suite">Suite</option>
            <option value="Family">Family</option>
        </select>
        <label for="city" >Miasto:</label>
        <input id="city" name="city" type="text"/>
        <input id="btF" type="submit" value="Filtruj"/>

    </form>
</section>
<section class="section">
    <header style="text-align: center">
        <h2>Pokoje</h2>
    </header>
    <article th:each="room : ${rooms}" >
        <a th:href="@{/roomInfo(room=${roomStat.index})}" class="showRoomInfo">
        <header th:if="${roomStat.index == 0}">
            <h2 th:text="${room.getType()} + ' - ' + ${room.getCity()}"></h2>
        </header>
        <header th:if="${roomStat.index > 0}" style="border-top: #333333 solid 2px">
            <h2 th:text="${room.getType()} + ' - ' + ${room.getCity()}"></h2>
        </header>
        <section>
            <p>
                <b>Typ pokoju:</b> <span th:text="${room.getType()}"></span><br />
                <b>Liczba łóżek:</b> <span th:text="${room.getBedsNumber()}"></span><br />
                <b>Opis pokoju:</b> <span th:text="${#strings.substring(room.getRoomDescription(), 0, 50)}"></span>...
            </p>
        </section>
        </a>
    </article>
</section>
</body>
</html>