<!-- index.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div  th:replace="fragments/fragments :: fragmentsGroup"></div>
<section class="section">
  <article>
    <header style="text-align: center">
      <h1>Profil</h1>
    </header>
    <section>
      <p><strong>Imię:</strong> <span th:text="${employee.getEmployeeName()}"></span></p>
      <p><strong>Nazwisko:</strong> <span th:text="${employee.getEmployeeSurname()}"></span></p>
      <p><strong>Numer telefonu:</strong> <span th:text="${employee.getEmployeePhone()}"></span></p>
      <p><strong>Email:</strong> <span th:text="${employee.getEmployeeEmail()}"></span></p>
      <p><strong>Dział:</strong> <span th:text="${employee.getDepartmentName()}"></span></p>

    </section>
  </article>
</section>

</body>
</html>