body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    width:100%;

}

h1 {
    color: #333;
}
#header{
    width: 100%;
    padding: 20px;
    height: 10%;
}
#title{
    width:100%;
    text-align:center;
}
.sticky {
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 500;
}
.horizontal-menu {
    background-color: #333;
}

.horizontal-menu ul {
    width: 90%;
    max-width: 1000px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.horizontal-menu li {
    float: left;
}

.horizontal-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontal-menu li a:hover {
    background-color: #555;
}
.section {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top:20px;
    background-color: #aaa;
    padding: 20px;
    color: #333;

}
.login-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    margin: auto;

}




.login-container h2 {
    text-align: center;
    color: #333;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
}

.form-group input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #2980b9;
}
.cancel-button {
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.cancel-button:hover {
    background-color: #ddd;
    text-decoration: none;
}
.room-details-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.room-details h2 {
    text-align: center;
    color: #333;
}

.room-details {
    margin-bottom: 15px;
}

.room-details p {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
}

.cancel-button {
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.cancel-button:hover {
    background-color: #ddd;
    text-decoration: none;
}
.book-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.book-button:hover {
    background-color: #2980b9;
}